translator/.idea
translator/.gradle
older-resources/Glossar D_EN.xlsx
older-resources/iSAQB terminology.xlsx
older-resources/iSAQB-CPSA-FL-Terms-DE-EN_Uli_Becker.xlsx
older-resources/isaqb-glossar.docx
isaqb-terms-translated_test.json
.idea
.DS_Store
