# mkdocs releated
mk_docs
site
# generated folders
generated/gen-tt-DE-EN.md
generated/gen-tt-EN-DE.md
generated/gen-terms-*.md
# IDE files
.idea
.DS_Store
.settings/org.eclipse.buildship.core.prefs
.classpath
.project
.vscode/settings.json
# build files
.gradle
build
